<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <style type="text/css">
	#table1{
			border-radius:25px;
			}
			a{
			text-decoration : none;
			color:white;
			}
			a:hover{
					color:black; 
					text-decoration:underline ;
				}
        
        
</style>
</head>
<body>
    {{>navbar}}
    <!-- main -->
    <br>
    <center>
        <img  src="images/doct3.jpg" height="250" width="800" alt="loginimg">
  </center>
	<center><b><i><font size="6px" color="black">Login</i></b></center>
	<br>
	<center>
        <table id="table1" width=60% height=20% bgcolor="blue" align="center" >
        <tr>
            <td> 
                <a href="DoctorLogin"><center><font >Doctor</font></center></a>
            </td>
            <td> 
                <a href="PatientLogin"><center><font>Patient</font></center></a>
            </td>
        </tr>
        </table>
    </center>
    
    <br><br>       
    <!-- footer code -->
    {{>footer}}
</body>
</html>